# Binaries for programs and plugins
main
vbfcc
*.exe
*.exe~
*.so
*.dylib
*.dll
*.dSYM

# Ignore binary output folders
bin/
out

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml
